<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSockets - Simple chat</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <hr>
        <div class="row inbox">
            <ul id="user-active-list" class="col-md-4 inbox__people list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="col-md-8 inbox__messages">
                <div class="float-left messages__history">
                    <button type="button" class="btn btn-sm btn-light">Hello</button>
                </div>
                <div class="fallback">
                    <button type="button" class="btn btn-sm btn-primary">Primary</button>
                </div>
                <div class="float-left messages__history">
                    <button type="button" class="btn btn-sm btn-light">Hello</button>
                </div>
                <div class="float-left messages__history">
                    <button type="button" class="btn btn-sm btn-light text-left">Hellodddđ sdsds sdsdsd sdffdsfsdffsdff sfsdfsdf sf sf sf sf s fs fs fs fs fsfsfsf sfsdfsdfsfsfsfsdfsdfsd fsdfsfsdf</button>
                </div>
                <div class="fallback">
                    <button type="button" class="btn btn-sm btn-primary text-left">ffff sdfs fsdff fsdfsf dgfsfg vgfdgfsgd ssgfdgg wertwet retwtt &#128513; &#129409; <br>fadsfafdffafsdffas</button>
                </div>
            </div>
        </div>
        <hr>
        <form class="row message_form">
            <input type="text" class="form-control message_form__input" placeholder="Type a message" />
            <button class="btn btn-primary message_form__button" type="submit">
                Enter
            </button>
        </form>
    </div>

    <ul class="pages">
        <li class="chat page">
          <div class="chatArea">
            <ul class="messages"></ul>
          </div>
          <input class="inputMessage" placeholder="Type here..."/>
        </li>
        <li class="login page">
          <div class="form">
            <h3 class="title">What's your nickname?</h3>
            <input class="usernameInput" type="text" maxlength="14" />
          </div>
        </li>
      </ul>


    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>